<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.css">

    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!--sweet alert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.6.1/sweetalert2.min.js"></script>
    <!--pagination-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
        integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
        integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
        crossorigin="anonymous"></script>

    <style>
        /* Fix background-color in web */
        body {
            font-family: supermarket;
            background: #DBE4E9;
            min-height: 100vh
            
        }

        /* Fix text-color in card body */
        .text-gray {
            color: white;
        }

        .container {
            justify-content: center;
            align-items: center;
        }

        #btnLogin{
            font-weight: bolder;
            font-size: 24px;
            border-radius: 20px;
            border-width: 3px;
        }
    </style>


    <!--<script>
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                const username = $("#InputEmail").val();
                const password = $("#InputPassword").val();
                
                // connect to /login service 
                $.ajax({
                    method: "POST",
                    url: "/api/login",
                    data: { "username": username, "password": password },
                    success: function (data, state) {
                        sessionStorage.user_id = data.user_id;
                        window.location.replace(data.forwardUrl)
                    },
                    error: function (xhr, state, error) {
                        Swal.fire(xhr.responseText);
                    }
                });
            });
        });//InputEmail  InputPassword
    </script>-->
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-dark " style="height: 50px; background-color: #2B7AA0;" >
        <div class="nav navbar-nav ">
           
        </div>
    </nav>

    <!-- container -->
    <div class="container my-5">
        <div class="justify-content-center align-self-center  shadow" style="background-color: white; border-radius: 30px;">
            <!--logo-->
            <div class="row">
            <div class="col-12 text-center" style="margin-top: 120px;">
                <img src="../../img/it-logo.png" alt="" width="20%">
                    <class="img-fluid img-thumbnail" alt="...">
            </div>
            <article class="card-body mx-auto " style="max-width:600px; height:400px;">

                <h2 class="justify-content-center text-center">
                    <label>ระบบเบิกวัสดุสำนักเทคโนโลยีสารสนเทศ</label>
                    <br>
                   
                </h2>

                <!--btn login-->
                <div class="text-center">
                    <button type="button" class="btn btn-outline-dark btn-lg" id="btnLogin"><img src="https://img.icons8.com/plasticine/200/000000/google-logo.png"/ style="width: 10%;"> Login as google
                </button>
                </div>
                </form>
            </article>
        </div>
    </div>
    </div>
    
    <footer>
        
    </footer>
</body>

</html>