<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User's resouce list</title>
    <link href="/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.10.1/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.10.1/sweetalert2.min.js"></script>

    <!--Chart CDN-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <style>
        body {
            font-family: supermarket;
        }

        th {
            background-color: #3FACCE;
            color: white;
            font-size: larger;
        }

        .btn-blue {
            background-color: #004FAB;
            font-size: 15px;
            font-weight: normal;
            
        }

    </style>
    <script>
        $(document).ready(function () {
            let dataSet = [
                { codeDurable: 101000061, name: "เครื่องเหลาดินสอ", unit: "MAC", remain: 56 },
                { codeDurable: 101000062, name: "เชือกขาว ขนาด 1 กก.", unit: "ROL", remain: 30 },
                { codeDurable: 101000063, name: "เชือกขาวแดง", unit: "ROL", remain: 20 },
                { codeDurable: 101000064, name: "ซองจดหมายขาว DL มฟล. ภาษาอังกฤษ", unit: "CAS", remain: 35 },
                { codeDurable: 101000065, name: "ซองจดหมายขาว DL มฟล. ภาษาอังกฤษ", unit: "CAS", remain: 15 },
                { codeDurable: 101000066, name: "ซองจดหมายสีน้ำตาล C5", unit: "CAS", remain: 24 },
                { codeDurable: 101000067, name: "ซองพลาสติกเติมแฟ้มโชว์เอกสาร", unit: "PAC", remain: "56" },
                { codeDurable: 101000069, name: "ซองสีน้ำตาล C4 (ขยายข้าง) มฟล.ภาษาไทย", unit: "CAS", remain: 26 },
                { codeDurable: 101000070, name: "ซองสีน้ำตาล C4 (ไม่ขยายข้าง) มฟล.ภาษาไทย", unit: "CAS", remain: 33 },
                { codeDurable: 101000061, name: "เครื่องเหลาดินสอ", unit: "MAC", remain: 56 },
                { codeDurable: 101000062, name: "เชือกขาว ขนาด 1 กก.", unit: "ROL", remain: 30 },
                { codeDurable: 101000063, name: "เชือกขาวแดง", unit: "ROL", remain: 20 },
                { codeDurable: 101000064, name: "ซองจดหมายขาว DL มฟล. ภาษาอังกฤษ", unit: "CAS", remain: 35 },
                { codeDurable: 101000065, name: "ซองจดหมายขาว DL มฟล. ภาษาอังกฤษ", unit: "CAS", remain: 15 },
                { codeDurable: 101000066, name: "ซองจดหมายสีน้ำตาล C5", unit: "CAS", remain: 24 },
                { codeDurable: 101000067, name: "ซองพลาสติกเติมแฟ้มโชว์เอกสาร", unit: "PAC", remain: "56" },
                { codeDurable: 101000069, name: "ซองสีน้ำตาล C4 (ขยายข้าง) มฟล.ภาษาไทย", unit: "CAS", remain: 26 },
                { codeDurable: 101000070, name: "ซองสีน้ำตาล C4 (ไม่ขยายข้าง) มฟล.ภาษาไทย", unit: "CAS", remain: 33 },
            ];

            //Create
            table = $("#dataTable").DataTable({

                data: dataSet,
                columns: [

                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }, title: "ลำดับ"
                    },

                    { data: "codeDurable", title: "รหัสวัสดุ" },
                    { data: "name", title: "คำอธิบายวัสดุ" },
                    { data: "unit", title: "หน่วยนับ" },
                    { data: "remain", title: "จำนวนคงคลัง" },
                    {
                        title: 'เบิก', render: function (data, type, row, meta) {
                            let tmp = `
                                     <div class="row " >
                                     <div class="col-2 p-2 ml-3">
                                        <button class="btn btn-blue btn-lg text-white" data-target="#modalAdd" data-toggle="modal">เบิก</button>
                                       </div>               
                                </div>`;
                            return tmp;

                        }
                    }
                ]
            });
            $("#addbtn").on('click', function () {
                Swal.fire(
                    'เพื่มรายการเรียบร้อย!',
                    ' ',
                    'success'
                )
            });

            $('#dataTable tr').on('click', function () {
                var tds = $(this).find('td');
                if (tds.length != 0) {

                    var id = tds.eq(1).text();
                    var des = tds.eq(2).text();
                    var unit = tds.eq(3).text();
                    var remain = tds.eq(4).text();

                    $("#modal_id").append(id);
                    $("#modal_des").append(des);
                    $("#modal_remain").append(remain);
                    $("#modal_unit").html(unit);

                }
            });

            $('#close_modal').on('click', function () {
                $("#modal_id").html('รหัสวัสดุ: ');
                $("#modal_des").html('ชื่อวัสดุ: ');
                $("#modal_remain").html('จำนวนที่เหลือ: ');
                $("modal_unit").html('หน่วยนับ: ');
            });

            $(".btn").on('click', function () {
                $("#modal_id").html(' ');
                $("#modal_des").html(' ');
                $("#modal_remain").html('');
                $("modal_unit").html('');
            });

        });

    </script>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand " style="background-color: #2B7AA0;">
        <img src="../../img/it-logo.png" alt="" style="width: 50px;">
        <a class="navbar-brand text-white" href="">ระบบเบิกวัสดุสำนักเทคโนโลยีสารสนเทศ</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" href="#"></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

                <div class="input-group-append">

                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></a>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">MENU</div>
                        <a class="nav-link active" href="User's resouce list.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
                            รายการวัสดุ
                        </a>

                        <a class="nav-link" href="User's manage reqlist.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            รายการที่เบิก

                        </a>
                        <a class="nav-link " href="User's request list.html" >
                            <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                            รายากรที่สังเบิก

                        </a>

                        

                    </div>
                </div>
                <div class="sb-sidenav-footer justify-content-center">
                    <div class="small"><a class="nav-link" href="login_ui.html"><button
                                class="btn btn-blue text-white text-lg"><i class="fas fa-door-open"></i> ออกจากระบบ
                            </button></a> </div>

                </div>

            </nav>

        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="mt-4 ml-4">
                        <h1> รายการวัสดุ</h1>
                    </div>
                    <div class="card mb-4 mt-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <!-- Modal ADD -->
    <div class="modal fade bd-example-modal-xl" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">รายการที่เบิก</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="row mx-auto justify-content-center">
                        <div class="row col-12">
                            <label class="control-label mr-3 col-sm-3">รหัสวัสดุ:</label>
                            <label class="control-label col-3" id="modal_id"></label>
                      </div>
                      <div class="row col-12">
                            <label class="control-label mr-3  col-sm-3">ชื่อวัสดุ:</label>
                            <label class="control-label col-8" id="modal_des"></label>
                        </div>

                            <div class="row col-12 ">
                            <label class="control-label mr-3 col-sm-3">หน่วยนับ:</label>
                            <label class="control-label col-3" id="modal_unit"></label>
                        </div>

                            <div class="row col-12">
                            <label class="control-label mr-3 col-sm-3">จำนวนที่เหลือ:</label>
                            <label class="control-label col-3" id="modal_remain"></label>
                        </div>
                    </div>
                        <div class="row mx-auto">
                            <label class="control-label mr-3 col-12">วัตถุประสงคืในการเบิก:</label>
                            <input class="form-control-sm col-2 mb-2 " type="radio" name="" id=""><label class="control-label  col-10">การเรียนการสอน</label>
                            <input class="form-control-sm col-2 mb-2 " type="radio" name="" id=""><label class="control-label  col-10">สำนักงาน</label>
                            <input class="form-control-sm col-2 mb-2 " type="radio" name="" id=""><label class="control-label  col-10">โครงงาน / งาน</label>
                            
                            <input class="form-control-sm col-2 mb-2 " type="radio" name="" id=""><label class="control-label col-1 mt-1">อื่นๆ</label>
                            <input type="text" class="form-control col-6" style="border-radius: 20px;">
                         
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="addbtn" data-dismiss="modal">เพิ่ม</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>