<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.10.1/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.10.1/sweetalert2.min.js"></script>

    <!--Chart CDN-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <style>
        body {
            font-family: supermarket;
        }

        th {
            background-color: #3FACCE;
            color: white;
            font-size: larger;
        }

        .btn-blue {
            background-color: #004FAB;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2DC614;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #DEF1CB;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <script>
        $(document).ready(function () {
            let dataSet = [
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
                { name: "นาย โทนี่ วูดเเมน", email: "tony@gmail.com", tel: "0XX XXX XXXX", },
            ];

            //Create
            table = $("#dataTable").DataTable({

                data: dataSet,
                columns: [

                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }, title: "ลำดับ"
                    },

                    { data: "name", title: "ชื่อ-นามสกุล" },
                    { data: "email", title: "Email" },
                    { data: "tel", title: "เบอร์โทร" },
                    {
                        title: 'จัดการ', render: function (data, type, row, meta) {
                            let tmp = `
                                     <div class="row " >
                                     <div class="col-2 p-2 ml-3">
                                        <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                        </label>
                                       </div>               
                                </div>`;
                            return tmp;

                        }
                    }
                ]
            });
            $("#acceptbtn").on('click', function () {
                Swal.fire(
                    'เพิ่มuserเรียบร้อย!',
                    ' ',
                    'success'
                )
            });

        });

    </script>


</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand " style="background-color: #2B7AA0;">
        <img src="../../img/it-logo.png" alt="" style="width: 50px;">
        <a class="navbar-brand text-white" href="">ระบบเบิกวัสดุสำนักเทคโนโลยีสารสนเทศ</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" href="#"></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

                <div class="input-group-append">

                </div>
            </div>
        </form>
        <!-- Navbar-->

        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></a>
            </li>
        </ul>


    </nav>
    <div class="sb-sidenav-footer justify-content-center">
        <div class="small"><a class="nav-link" href="login_ui.html"><button class="btn btn-blue text-white text-lg"><i
                        class="fas fa-door-open"></i> ออกจากระบบ
                </button></a> </div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="mt-4 ml-4">
                            <h1> รายการสั่งเบิก </h1>
                        </div>

                        <div class="col-sm-6">
                            <button class="btn btn-lg text-white ml-2" id="addbtn" data-toggle="modal"
                                data-target="#modalManage" style="background-color:#004FAB; border-radius: 30px;">Add
                                user</button>
                        </div>
                        <div class="card mb-4 mt-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </main>
                <div class="row">
                    <div class="small"><a class="nav-link" href="/views/login_ui.html"><button
                                class="btn btn-blue text-white text-lg"><i class="fas fa-door-open"></i> ออกจากระบบ
                            </button></a>
                    </div>
                </div>

            </div>
           
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalManage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">New email's user:</label>
                            <div class="col-md-4">
                                <input id="textinput" name="textinput" type="text" placeholder="someone@email.com"
                                    class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        <button type="button" class="btn btn-primary" id="acceptbtn">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>